*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.categories
{
    background-color: black;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 3% 5%;
    max-width: 1920px;
    position: relative;
}