*
{
    margin: 0px;
    padding: 0px;
}
body
{
    overflow-x: hidden;
    max-width: 1920px;
}

.homePage
{
    background:linear-gradient(to bottom , rgba(0, 0, 0, 0.1),#000000), url(images/banner\ image.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    padding: 3% 8%;
    max-width: 1920px;
    position: relative;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}
header p
{
    color: #f83a68;
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    cursor: pointer;
}
header p span
{
    font-size: 15px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
header img
{
    background-color: #f83a68;
    padding: 0.3em;
    border-radius: 10px;
    cursor: pointer;
}
nav ul
{
    display: inline-block;
}
nav ul li
{
    display: inline-block;
    margin: 0em 1em;
}
nav ul li a
{
    text-decoration: none;
    /* background-color: #df5547; */
    padding: 0.1em 0.6em;
    border-radius: 5px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 500;
}
nav ul li a:hover
{
    text-decoration: none;
    background: linear-gradient(90deg , #ff6451,#df5547,#fd5559,#fb4861,#f83a68);
    padding: 0.1em 0.6em;
    border-radius: 5px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 500;
}
.menu-icon
{
    width: 28px;
    display: none;
}

.homepage_content
{
    margin-left: 5%;
    margin-top: 12%;
    display: inline-block;
    text-shadow: black;
}
.homepage_content a
{
    /* background: linear-gradient(90deg , #ff6451,#df5547,#fd5559,#fb4861,#f83a68); */
    border: solid 0.4px white;
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    /* font-weight: 550; */
    padding: 0.3em 0.6em;
    border-radius: 4px;
    
}
.homepage_content h1
{
    margin-top: 0.4em;
    font-size: 60px;
    background: linear-gradient(90deg , #ff6451,#df5547,#fd5559,#fb4861,#f83a68);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.homepage_content p
{
    margin-top: 0.4em;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: nonoe;
    font-size: 20px;
}



/* Here we will style the feature section */
.feature
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-color: black;
    background-position: center;
    background-size: cover;
    padding: 3% 8%;
}
.feature .feature-box
{
    width: 180px;
    text-align: center;
    padding: 20px 15px;
    border: solid 1px #f83a68;
    border-radius: 5px;
    margin: 15px 0;
}
.feature .feature-box img
{
    width: 100%;
    margin-bottom: 10px;
}
.feature .feature-box h6
{
    display: inline-block;
    padding: 0.2em 0.6em;
    background: linear-gradient(90deg , #ff6451,#df5547,#fd5559,#fb4861,#f83a68);
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    color: white;
}





/* Here we will style the categories page */
.categories
{
   /* padding-top: ; */
   padding: 3% 8%;
   background-color: blue;
   width: 100%;
   background-position: center;
   background-size: cover;
   position: relative;
   box-sizing: border-box;
   max-width: 1920px;
}
.categoriesText
{
     margin-top: 5%;
     text-align: center;
}
.categoriesText h2
{
    background: linear-gradient(90deg , #ff6451,#df5547,#fd5559,#fb4861,#f83a68);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
}
.categoriesText p
{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding-top: 0.6em;
}

.categoryRow
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 6%;
    flex-wrap: wrap;
}

.categoryCol
{
    background: linear-gradient(90deg , #ff6451,#df5547,#fd5559,#fb4861,#f83a68);
    border-radius: 10px;
    padding: 0.5em 0.5em;
    margin-bottom: 15%;
    margin-left: 2%;
    margin-right: 2%;
    display: inline-block;
    position: relative;
}
.categoryCol img
{
    height: 300px;
    display: inline-block;
    border-radius: 10px;
}
.categoryCol p
{
    margin-top: 0.3em;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    padding: 0.1em 0.2em;
    width: auto;
    text-align: center;
}




/* Here we are adding the media query for menu */

 
@media only screen and (max-width:480px)
{

    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .menu-icon
    {
        width: 28px;
        display: block;
        cursor: pointer;
    }
    nav ul
    {
        position: absolute;
        top: 70px;
        left: 0;
        background: linear-gradient(90deg , #ff6451,#df5547,#fd5559,#fb4861,#f83a68);
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li
    {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 20px;
        text-align: right;
    }

    .homePage
   {
    background:linear-gradient(to bottom , rgba(0, 0, 0, 0.2),#000000), url(images/banner\ image.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 8%;
    max-width: 767px;
    position: relative;
   }

    header p
    {
        color: #f83a68;
        font-size: 20px;
        font-family: 'Kaushan Script', cursive;
        cursor: pointer;
    }
    header img
    {
        background-color: #f83a68;
        padding: 0.4em;
        border-radius: 10px;
        cursor: pointer;
    }

    .homepage_content
    {
        margin-left: 5%;
        margin-top: 60%;
        display: inline-block;
        text-shadow: black;
        text-align: left;
    }
    .homepage_content a
    {
        background: linear-gradient(90deg , #ff6451,#df5547,#fd5559,#fb4861,#f83a68);
        text-decoration: none;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 0.8em;
        padding: 0.3em 0.6em;
        border-radius: 4px;
        border: none;
        
    }
    .homepage_content h1
    {
        margin-top: 0.4em;
        font-size: 35px;
        background: linear-gradient(90deg , #ff6451,#df5547,#fd5559,#fb4861,#f83a68);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .homepage_content p
    {
        margin-top: 0.4em;
        color: white;
        font-family: 'Poppins', sans-serif;
        text-decoration: nonoe;
        font-size: 15px;
    }


    /* Here starts the media query for the categories section */
    .categories
    {
       /* padding-top: ; */
       padding: 8%;
       background-color: black;
       width: 100%;
       background-position: center;
       background-size: cover;
       position: relative;
       box-sizing: border-box;
       max-width: 1920px;
    }
    .categoriesText h2
    {
        background: linear-gradient(90deg , #ff6451,#df5547,#fd5559,#fb4861,#f83a68);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 35px;
    }
    .categoriesText p
    {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        padding-top: 0.6em;
    }
    .categoryRow
    {
        text-align: center;
    }
    .categoryCol
    {
        background: linear-gradient(90deg , #ff6451,#df5547,#fd5559,#fb4861,#f83a68);
        border-radius: 10px;
        padding: 0.5em 0.5em;
        margin-bottom: 15%;
        display: inline;
    }
    .categoryCol img
    {
        height: 200px;
        display: inline;
        border-radius: 10px;
    }
  
}





/* @media only screen and (max-width: 900px)  and (min-width:481px)
{
    
     html,body
    {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .homePage
   {
    background:linear-gradient(to bottom , rgba(0, 0, 0, 0.1),#000000), url(images/banner\ image.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 3% 5%;
    max-width: 1280px;
    position: relative;
   }
    nav ul
    {
        display: inline;
    } 
    nav ul li
    {
        display: inline-block;
        margin: 0em 0.5em;
    }

    .homepage_content
    {
        margin-left: 5%;
        margin-top: 40%;
        display: inline-block;
        text-shadow: black;
        text-align: left;
    }
    .homepage_content a
    {
        background: linear-gradient(90deg , #ff6451,#df5547,#fd5559,#fb4861,#f83a68);
        text-decoration: none;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 1.1em;
        padding: 0.3em 0.6em;
        border-radius: 4px;
        
    }
    .homepage_content h1
    {
        margin-top: 0.4em;
        font-size: 65px;
        background: linear-gradient(90deg , #ff6451,#df5547,#fd5559,#fb4861,#f83a68);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .homepage_content p
    {
        margin-top: 0.4em;
        color: white;
        font-family: 'Poppins', sans-serif;
        text-decoration: nonoe;
        font-size: 30px;
    
    }
  
}  */