*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homePage
{
    /* background: url(images/banner\ image.jpg);
    background-image: linear-gradient(to top , rgba(0,0,0,1)); */
    background:linear-gradient(to bottom , rgba(0, 0, 0, 0.2),#000000), url(images/banner\ image.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 3% 5%;
    max-width: 1920px;
    position: relative;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}
header p
{
    color: #f83a68;
    font-size: 20px;
    font-family: 'Kaushan Script', cursive;
}
header p span
{
    font-size: 15px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
header img
{
    background-color: #f83a68;
    padding: 0.3em;
    border-radius: 10px;
}
nav ul
{
    display: inline-block;
}
nav ul li
{
    display: inline-block;
    margin: 0em 1em;
}
nav ul li a
{
    text-decoration: none;
    /* background-color: #df5547; */
    padding: 0.1em 0.6em;
    border-radius: 5px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 500;
}
nav ul li a:hover
{
    text-decoration: none;
    background: linear-gradient(90deg , #ff6451,#df5547,#fd5559,#fb4861,#f83a68);
    padding: 0.1em 0.6em;
    border-radius: 5px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 500;
}

.homepage_content
{
    margin-left: 5%;
    margin-top: 12%;
    display: inline-block;
    text-shadow: black;
}
.homepage_content a
{
    /* background: linear-gradient(90deg , #ff6451,#df5547,#fd5559,#fb4861,#f83a68); */
    border: solid 0.4px white;
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    /* font-weight: 550; */
    padding: 0.3em 0.6em;
    border-radius: 4px;
    
}
.homepage_content h1
{
    margin-top: 0.4em;
    font-size: 60px;
    background: linear-gradient(90deg , #ff6451,#df5547,#fd5559,#fb4861,#f83a68);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.homepage_content p
{
    margin-top: 0.4em;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: nonoe;
    font-size: 20px;
}






@media only screen and (min-width: 320px)  and (max-width:767px)
{

    .homePage
   {
    background:linear-gradient(to bottom , rgba(0, 0, 0, 0.2),#000000), url(images/banner\ image.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 8%;
    max-width: 767px;
    position: relative;
   }
    nav ul
    {
        display: none;
    }

    .homepage_content
    {
        margin-left: 5%;
        margin-top: 50%;
        display: inline-block;
        text-shadow: black;
        text-align: left;
    }
    .homepage_content a
    {
        background: linear-gradient(90deg , #ff6451,#df5547,#fd5559,#fb4861,#f83a68);
        text-decoration: none;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 0.8em;
        padding: 0.3em 0.6em;
        border-radius: 4px;
        
    }
    .homepage_content h1
    {
        margin-top: 0.4em;
        font-size: 35px;
        background: linear-gradient(90deg , #ff6451,#df5547,#fd5559,#fb4861,#f83a68);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .homepage_content p
    {
        margin-top: 0.4em;
        color: white;
        font-family: 'Poppins', sans-serif;
        text-decoration: nonoe;
        font-size: 15px;
    }
  
}



@media only screen and (min-width: 768px)  and (max-width:1280px)
{

    .homePage
   {
    background:linear-gradient(to bottom , rgba(0, 0, 0, 0.2),#000000), url(images/banner\ image.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 3% 5%;
    max-width: 1280px;
    position: relative;
   }
    nav ul
    {
        display: inline;
    } 
    nav ul li
    {
        display: inline-block;
        margin: 0em 0.5em;
    }

    .homepage_content
    {
        margin-left: 5%;
        margin-top: 40%;
        display: inline-block;
        text-shadow: black;
        text-align: left;
    }
    .homepage_content a
    {
        background: linear-gradient(90deg , #ff6451,#df5547,#fd5559,#fb4861,#f83a68);
        text-decoration: none;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 1.1em;
        padding: 0.3em 0.6em;
        border-radius: 4px;
        
    }
    .homepage_content h1
    {
        margin-top: 0.4em;
        font-size: 65px;
        background: linear-gradient(90deg , #ff6451,#df5547,#fd5559,#fb4861,#f83a68);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .homepage_content p
    {
        margin-top: 0.4em;
        color: white;
        font-family: 'Poppins', sans-serif;
        text-decoration: nonoe;
        font-size: 30px;
        /* width: 50%; */
    }
  
}