*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.offer
{
    background: linear-gradient(90deg , #ff6451,#df5547,#fd5559,#fb4861,#f83a68);
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 3% 5%;
    max-width: 1920px;
    position: relative;
}
.offerRow
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.Offercol
{
    padding: 1em;
}
.Offercol img
{
    height: 400px;
}
.Offercol p
{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}
.Offercol h1
{
    color: white;
    margin: 0.3em 0em;
    font-size: 50px;
}
.Offercol small
{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
}
.Offercol button
{
    margin-top: 1.5em;
    background-color: transparent;
    /* background-color: black; */
    border: solid 0.5px white;
    border-radius: 10px;
    color: white;
    padding: 0.4em 1em;
    transition: ease .3s;
}
.Offercol button:hover
{
    margin-top: 2em;
    background-color: transparent;
    /* background-color: black; */
    border: solid 0.5px white;
    border-radius: 10px;
    color: white;
    padding: 0.4em 1em;
    transition: ease .3s;
    transform: translateY(+3px);
}
.Offercol button a
{
   text-decoration: none;
   color:white;
   font-family: 'Poppins', sans-serif;
   font-size: 15px;
}






/* Here we are styling the new arrival products */
.newArrival 
{
    background-color: black;
    padding: 3% 5%;
}
.newArrival .headingArrival
{
    text-align: center;
    color: white;
    margin: 2.5em 0;
    font-family: 'Poppins', sans-serif;
}
.newArrival .headingArrival h4
{
   font-size: 3em;
}
.newArrival .headingArrival p
{
    font-size: 1.25em;
}
.nARow
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.nARow .nACOL
{
    width: 23%;
    min-width: 250px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 12px;
    margin: 15px 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    cursor: pointer;
    text-align: center;
    position: relative;
    transition: ease 0.3s;
}
.nARow .nACOL:hover
{
    width: 23%;
    min-width: 250px;
    background: linear-gradient(90deg , #ff6451,#df5547,#fd5559,#fb4861,#f83a68);
    border: none;
    border-radius: 10px;
    padding: 10px 12px;
    margin: 15px 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    cursor: pointer;
    text-align: center;
    position: relative;
}
.nARow .nACOL img
{
    width: 100%;
    border-radius: 10px;
}
.nARow .nACOL .des
{
    text-align: start;
}
.nARow .nACOL .des i
{
    color: white;
}
.nARow .nACOL .cart
{
    height: 40px;
    width: 40px;
    line-height: 40px;
    background: linear-gradient(90deg , #ff6451,#df5547,#fd5559,#fb4861,#f83a68);
    border: solid 0.5px white;
    border-radius: 50px;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
}









/* Here we are adding the media query for offer section */
@media only screen and (max-width:480px)
{

    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .Offercol img
    {
        height: 200px;
    }
    .Offercol p
    {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 17px;
    }
    .Offercol h1
    {
        color: white;
        margin: 0.3em 0em;
        font-size: 25px;
    }
    .Offercol small
    {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
    }
    .Offercol button a
    {
       text-decoration: none;
       color:white;
       font-family: 'Poppins', sans-serif;
       font-size: 15px;
    }
    .Offercol button
    {
        margin-top: 1.5em;
        background-color: transparent;
        border: solid 0.5px white;
        border-radius: 10px;
        color: white;
        padding: 0.3em 1em;
        transition: ease .3s;
    }
    .Offercol button:hover
    {
        margin-top: 2em;
        background-color: transparent;
        border: solid 0.5px white;
        border-radius: 10px;
        color: white;
        padding: 0.4em 1em;
        transition: ease .3s;
        transform: translateY(+3px);
    } 

    /*  Here is the media query for the products section */
    .nARow
    {
        justify-content: space-evenly;
    }
    
}




@media only screen and (min-width:481px) and (max-width:799px)
{
    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .Offercol img
    {
        height: 200px;
    }
    .Offercol small
    {
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
    }
    .nARow
    {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
    }
}




