*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.testimonial
{
    background-color: black;
    /* height: 100vh; */
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 3% 5%;
    max-width: 1920px;
    position: relative;
    padding: 170px 0px;
}
.testimonialRow
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 33.3%;
}
.testimonialCol
{
    background-color: white;
    border-radius: 5px;
    margin: auto;
    display: inline-block;
    padding: 1em;
    text-align: center;
    cursor: pointer;
}
.testimonialCol i
{
    color: #df5547;
}
.testimonialCol p
{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding-top: 0.5em;
    /* text-decoration: none; */
}
.rating
{
    padding-top: 0.8em;
}
.testimonialCol img
{
    width: 50px;
    margin-top: 15px;
    border-radius: 50%;
}
.testimonialCol h3
{
    margin-top: 0.5em;
    padding: 0.2em;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg , #ff6451,#df5547,#fd5559,#fb4861,#f83a68);
    border-radius: 10px;
    text-align: center;
}