*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.testimonial
{
    background-color: black;
    /* height: 100vh; */
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 3% 8%;
    max-width: 1920px;
    position: relative;
}
.testimonialRow
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 33.3%;
}
.testimonialCol
{
    background-color: white;
    border-radius: 5px;
    margin: auto;
    display: inline-block;
    padding: 0.6em;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10%;
}
.testimonialCol i
{
    color: #df5547;
}
.testimonialCol p
{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 13px;
    padding-top: 0.5em;
    /* text-decoration: none; */
}
.rating
{
    padding-top: 0.8em;
}
.testimonialCol img
{
    width: 50px;
    margin-top: 15px;
    border-radius: 50%;
}
.testimonialCol h3
{
    margin-top: 0.5em;
    padding: 0.2em;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg , #ff6451,#df5547,#fd5559,#fb4861,#f83a68);
    border-radius: 10px;
    text-align: center;
}



/* Here we will style the brand names section */
.brand
{
    background-color: white;
}
.brandRow
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}
.brandCol img
{
    width: 60%;
    cursor: pointer;
}

/* Here we will style the footer part */
.footer
{
    background-color: black;
    width: 100%;
    color: white;
    font-size: 14px;
    max-width: 1920px;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
    padding: 3% 8%;
}
.footer p
{
    font-family: 'Poppins', sans-serif;
}
.footer h3
{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #f83a68;
    font-size: 18px;
    padding-bottom: 0.5em;
    text-decoration: none;
}
.footerRow
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
    flex-wrap: wrap;
}
.footerCol-1, .footerCol-2, .footerCol-3, .footerCol-4
{
    min-width: 250px;
    margin-bottom: 20px;
}
.footerCol-1
{
    flex-basis: 30%;
}
.footerCol-1 img
{
    padding-top: 0.5em;
    padding-right: 0.5em;
    width: 120px;
}
.footerCol-2
{
    flex: 1;
    text-align: center;
}
.footerCol-2 img
{
    height: 45px;
    cursor: pointer;
}

.footerCol-3 , .footerCol-4
{
    flex-basis: 12%;
    text-align: center;
}
ul
{
    list-style-type: none;
}
ul li
{
    font-family: 'Poppins', sans-serif;
}
.footer hr
{
    border: none;
    background: #f83a68;
    height: 1px;
    margin: 10px 0;
}
.copyright
{
    text-align: center;
}











/* Here we are adding the media query for menu */

@media only screen and (max-width: 479px)  and (min-width:280px)
{
     html,body
    {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

 
@media only screen and (max-width:480px)
{

    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .brandRow
    {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        display: none;
    }
    .footerRow
    {
        text-align: center;
    }
    .footerCol-1 , .footerCol-2 , .footerCol-3 ,.footerCol-4
    {
        flex-basis: 100%;
    }
  
}

