*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Here we are styling the testimonial section */
.testimonial
{
    background-color: black;
    width: 100%;
    padding: 3% 8%;
    max-width: 1920px;
    position: relative;
}
.testimonialRow
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 33.3%;
    margin-top: 10em;
}
.testimonialCol
{
    background-color: white;
    border-radius: 5px;
    margin: auto;
    display: inline-block;
    padding: 0.6em;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10%;
}
.testimonialCol i
{
    color: #df5547;
}
.testimonialCol p
{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 13px;
    padding-top: 0.5em;
}
.rating
{
    padding-top: 0.8em;
}
.testimonialCol img
{
    width: 50px;
    margin-top: 15px;
    border-radius: 50%;
}
.testimonialCol h3
{
    margin-top: 0.5em;
    padding: 0.2em;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg , #ff6451,#df5547,#fd5559,#fb4861,#f83a68);
    border-radius: 10px;
    text-align: center;
    color: white;
}



/* Here we are styling our newsletter */
.newsletter
{
    padding: 5% 8%;
    /* margin: 3% 8%; */
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: space-between;
}
.newstext h4
{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg , #ff6451,#df5547,#fd5559,#fb4861,#f83a68);
    width: 55%;
    padding: 0.3em;
    text-align: center;
    border-radius: 10px;
    /* font-size: 18px; */
    color: white;
}
.newstext p
{
    margin-top: 0.2em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
}
.form
{
    display: flex;
    width: 40%;
    padding-top: 0.1em;
}
.form input
{
   width: 100%;
   height: 2.5rem;
   padding: 1em;
   /* font-size: 14px; */
   border-radius: 10px;
   border: solid 0.5px #f83a68;
   outline: none;
   border-top-right-radius: 0 ;
   border-bottom-right-radius: 0 ;
}

.form button
{
    background: linear-gradient(90deg , #ff6451,#df5547,#fd5559,#fb4861,#f83a68);
    border: none;
    width: 7em;
    height: 2.5rem;
    font-size: 1em;
    border-radius: 10px;
    border-top-left-radius: 0 ;
    border-bottom-left-radius: 0 ;
    color: white;
    white-space: nowrap;
}

























/* Here we will style the footer part */
.footer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3% 8%;
    background-color: black;
    color: white;   
}

.footerCol
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
.footer h4
{
    font-size: 16px;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    color: #f83a68;
}
.footer p
{
    font-size: 14px;
    margin: 0 0 6px 0;
    font-family: 'Poppins', sans-serif;
}
.footer a
{
    font-size: 13px;
    text-decoration: none;
    margin: 0 0 8px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
}
.footer a:hover
{
    font-size: 13px;
    text-decoration: none;
    margin: 0 0 8px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #f83a68;
}
.footer .follow
{
    margin-top: 20px;
}
.footer .follow i
{
   color: white;
   padding-right: 4px;
   cursor: pointer;
}
.footer .follow i:hover
{
   color: #f83a68;
   padding-right: 4px;
   cursor: pointer;
}
.footer .footerColInstall .rowfooterInstall img
{
  border-radius: 10px;
}
.footer .footerColInstall img
{
  margin: 10px 0 15px 0;
}

.footer .copyright
{
    width: 100%;
    text-align: center;
} 
.footer hr
{
    border: none;
    background: #f83a68;
    height: 1px;
    margin: 10px 0;
}











/* Here we are adding the media query for menu */

@media only screen and (max-width: 479px)  and (min-width:280px)
{
     html,body
    {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

 
@media only screen and (max-width:480px)
{

    html,body
    {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .brandRow
    {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        display: none;
    }
    .footerRow
    {
        text-align: center;
    }
    .footerCol-1 , .footerCol-2 , .footerCol-3 ,.footerCol-4
    {
        flex-basis: 100%;
    }
  
}

